**MovieLens - User-Based Collaborative Filtering**

In [ ]:
import pandas as pd

In [3]:
# change working directory
import os
os.chdir("G:\My Drive\MSA\Recommendation\ml-100k")
print(os.getcwd())

G:\My Drive\MSA\Recommendation\ml-100k

**Read files**

In [4]:
# read users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names=u_cols, encoding='latin-1')

In [5]:
# read ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, encoding='latin-1')

In [6]:
#read  items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('u.item', sep='|', names=i_cols, encoding='latin-1')

In [6]:
print (users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
print (ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [32]:
print (items.shape)
items.head(311)

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,0
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,"Time to Kill, A (1996)",13-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Time%20to%20K...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
282,283,Emma (1996),02-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Emma%20(1996),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
283,284,Tin Cup (1996),16-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Tin%20Cup%20(...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
284,285,Secrets & Lies (1996),04-Oct-1996,NaN,http://us.imdb.com/M/title-exact?Secrets%20&%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
285,286,"English Patient, The (1996)",15-Nov-1996,NaN,http://us.imdb.com/M/title-exact?English%20Pat...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
286,287,Marvin's Room (1996),18-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Marvin's%20Ro...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287,288,Scream (1996),20-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Scream%20(1996),0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
288,289,Evita (1996),25-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Evita%20(1996),0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
289,290,Fierce Creatures (1997),10-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Fierce%20Crea...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
290,291,Absolute Power (1997),14-Feb-1997,NaN,http://us.imdb.com/M/title-exact?Absolute%20Po...,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
291,292,Rosewood (1997),21-Feb-1997,NaN,http://us.imdb.com/M/title-exact?Rosewood%20(1...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
292,293,Donnie Brasco (1997),28-Feb-1997,NaN,http://us.imdb.com/M/title-exact?Donnie%20Bras...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
293,294,Liar Liar (1997),21-Mar-1997,NaN,http://us.imdb.com/Title?Liar+Liar+(1997),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
294,295,Breakdown (1997),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Breakdown%20%...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
295,296,"Promesse, La (1996)",16-May-1997,NaN,http://us.imdb.com/M/title-exact?Promesse%2C%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
296,297,Ulee's Gold (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Ulee%27s+Gold...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,298,Face/Off (1997),27-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Face/Off+(1997),0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
298,299,Hoodlum (1997),22-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Hoodlum+(1997),0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
299,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
300,301,In & Out (1997),19-Sep-1997,NaN,http://us.imdb.com/Title?In+%26+Out+(1997),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301,302,L.A. Confidential (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?L%2EA%2E+Conf...,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
302,303,Ulee's Gold (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Ulee%27s+Gold...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303,304,Fly Away Home (1996),13-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Fly%20Away%20...,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
304,305,"Ice Storm, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Ice+Storm%2C+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,306,"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Her+Majesty%2...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
306,307,"Devil's Advocate, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Devil's+Advoc...,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
307,308,FairyTale: A True Story (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Fairytale:+A+...,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
308,309,Deceiver (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Liar+(1997),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
309,310,"Rainmaker, The (1997)",01-Jan-1997,NaN,"http://us.imdb.com/M/title-exact?Rainmaker,+Th...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310,311,"Wings of the Dove, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Wings+of+the+...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [7]:
# read training and test dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [99]:
ratings_base.head(270)

     user_id  movie_id  rating  unix_timestamp
0          1         1       5       874965758
1          1         2       3       876893171
2          1         3       4       878542960
3          1         4       3       876893119
4          1         5       3       889751712
5          1         6       5       887431973
6          1         7       4       875071561
7          1         8       1       875072484
8          1         9       5       878543541
9          1        10       3       875693118
10         1        11       2       875072262
11         1        12       5       878542960
12         1        13       5       875071805
13         1        14       5       874965706
14         1        15       5       875071608
15         1        16       5       878543541
16         1        17       3       875073198
17         1        18       4       887432020
18         1        19       5       875071515
19         1        21       1       878542772
20         1        22       4       875072404
21         1        23       4       875072895
22         1        24       3       875071713
23         1        25       4       875071805
24         1        26       3       875072442
25         1        27       2       876892946
26         1        28       4       875072173
27         1        29       1       878542869
28         1        30       3       878542515
29         1        31       3       875072144
..       ...       ...     ...             ...
240        1       250       4       874965706
241        1       251       4       875071843
242        1       252       2       875240677
243        1       253       5       874965970
244        1       254       1       878541392
245        1       255       2       885345822
246        1       256       4       889751712
247        1       257       4       874965954
248        1       258       5       878873389
249        1       259       1       875692979
250        1       260       1       875071713
251        1       261       1       875692992
252        1       262       3       875071421
253        1       263       1       875693007
254        1       264       2       875071713
255        1       266       1       885345728
256        1       267       4       875692955
257        1       268       5       875692927
258        1       269       5       877482427
259        1       270       5       888732827
260        1       271       2       887431672
261        1       272       3       887431647
262        2         1       4       888550871
263        2        10       2       888551853
264        2        14       4       888551853
265        2        19       3       888550871
266        2        25       4       888551648
267        2       100       5       888552084
268        2       111       4       888551853
269        2       127       5       888552084

[270 rows x 4 columns]

In [22]:
ratings_test.head(20)

    user_id  movie_id  rating  unix_timestamp
0         1        20       4       887431883
1         1        33       4       878542699
2         1        61       4       878542420
3         1       117       3       874965739
4         1       155       2       878542201
5         1       160       4       875072547
6         1       171       5       889751711
7         1       189       3       888732928
8         1       202       5       875072442
9         1       265       4       878542441
10        2        13       4       888551922
11        2        50       5       888552084
12        2       251       5       888552084
13        2       280       3       888551441
14        2       281       3       888980240
15        2       290       3       888551441
16        2       292       4       888550774
17        2       297       4       888550871
18        2       312       3       888550631
19        2       314       1       888980085

**User-based Collaborative Filtering**
<br>
if a person A likes item 1,2,3 and B likes 2,3,4 then they have similar interets and A should like item 4 and B should like item 1

In [11]:
# read all the unique user id
ratings_base.user_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
       820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832,
       833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
       846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858,
       859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897,
       898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910,
       911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923,
       924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936,
       937, 938, 939, 940, 941, 942, 943], dtype=int64)

In [106]:
# read base and test dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [107]:
# copy the base dataset into ratings_dict
ratings_dict = ratings_base.copy()

In [137]:
# make a dictionary of users and all the movies they rated
all_dict = dict()
for usr in ratings_base.user_id:
    one_usr = ratings_dict[ratings_dict.user_id == usr]
    usr_dict = dict(zip(one_usr.movie_id, one_usr.rating))
    all_dict[str(usr)] = usr_dict

In [146]:
data = all_dict
# function for calculating similarities
def euclidean_similarity(person1, person2):
    #find common items ranked by both person1 and person2
    common_ranked_items = [itm for itm in data[person1] if itm in data[person2]]
    rankings = [(data[person1][itm], data[person2][itm]) for itm in common_ranked_items]
    distance = [pow(rank[0] - rank[1], 2) for rank in rankings]

    return 1 / (1 + sum(distance)) # the range is from 0 to 1

In [147]:
# create a recommendation function that will recoomend movies to users

def recommend(person, bound, similarity=euclidean_similarity):
    scores = [(similarity(person, other), other) 
              for other in data if other != person] # calculate the similarity score between the person and others
    
    scores.sort() 
    scores.reverse() #descending order
    scores = scores[0:bound] # get the people with the top scores
    # scores is the lists of euclidean score and the other user id
    
    #print (scores)

    recomms = {}

    for sim, other in scores:
        ranked = data[other] # data of the other users which include the movieID and ranking

        for itm in ranked: 
            if itm not in data[person]: #if item is not in the data of user 1 then weight = sim score * 
                weight = sim * ranked[itm] #multiplying the similarity score with the ranking of that movie id
                
                if itm in recomms:
                    s, weights = recomms[itm]
                    recomms[itm] = (s + sim, weights + [weight])
                    # 
                else:
                    recomms[itm] = (sim, [weight])
               
    for r in recomms: 
        sim, item = recomms[r]
        recomms[r] = sum(item) / sim #predicted ranking for each movie = actual ranking/similarity
        # the reason is because we want to predict how likely each user will like another movie
        # ex: user 1: ABCD, user 2: ABFG
        # how likely will user 1 like movie F & G

    # return recomms
    return sorted(recomms.items(), key=lambda x:x[1], reverse=True)[0:bound]

In [148]:
# recommend 10 movies to user_id "1"
results = recommend("1", 10, euclidean_similarity)
print(results)

[(311, 5.0), (326, 5.0), (354, 5.0), (1191, 5.0), (689, 5.0), (309, 5.0), (338, 5.0), (341, 5.0), (349, 5.0), (359, 5.0)]

In [149]:
# find actual movie title
train = list()
i = 0
for movie in items['movie id']:
    for order in results:
        i += 1
        if order[0] == movie:
            print (items['movie title'][movie-1])
            train.append(items['movie title'][movie-1])

Deceiver (1997)
Wings of the Dove, The (1997)
G.I. Jane (1997)
Bean (1997)
Critical Care (1997)
Hard Rain (1998)
Wedding Singer, The (1998)
Assignment, The (1997)
Jackal, The (1997)
Letter From Death Row, A (1998)

**Evaluate the recommendation function**

In [113]:
# make a dictionary of users and all the movies they rated
all_dict_test = dict()
ratings_dict_test = ratings_base.iloc[100:]
for usr in ratings_dict_test.user_id:
    one_usr_test = ratings_dict_test[ratings_dict_test.user_id == usr]
    usr_dict_test = dict(zip(one_usr_test.movie_id, one_usr_test.rating))
    all_dict_test[str(usr)] = usr_dict_test

In [142]:
data = all_dict_test

In [143]:
# recommend 10 movies to user_id "1"
results = recommend("1", 10, euclidean_similarity)
print(results)

[(286, 5.0), (311, 5.0), (326, 5.0), (354, 5.0), (1191, 5.0), (9, 5.0), (689, 5.0), (304, 5.0), (309, 5.0), (341, 5.0)]

In [144]:
test = list()
i = 0
for movie in items['movie id']:
    for order in results:
        i += 1
        if order[0] == movie:
            print (items['movie title'][movie-1])
            test.append(items['movie title'][movie-1]) 
            
print(test)

Dead Man Walking (1995)
English Patient, The (1996)
Fly Away Home (1996)
Deceiver (1997)
Wings of the Dove, The (1997)
G.I. Jane (1997)
Critical Care (1997)
Wedding Singer, The (1998)
Jackal, The (1997)
Letter From Death Row, A (1998)
['Dead Man Walking (1995)', 'English Patient, The (1996)', 'Fly Away Home (1996)', 'Deceiver (1997)', 'Wings of the Dove, The (1997)', 'G.I. Jane (1997)', 'Critical Care (1997)', 'Wedding Singer, The (1998)', 'Jackal, The (1997)', 'Letter From Death Row, A (1998)']

In [145]:
# compare train and test list and see if how many movies the function correctly recommends
i = 0
for item in train:
    for item1 in test:
        if item == item1:
            i += 1
            print (item)

print(i)

Deceiver (1997)
Wings of the Dove, The (1997)
G.I. Jane (1997)
Critical Care (1997)
Wedding Singer, The (1998)
Jackal, The (1997)
Letter From Death Row, A (1998)
7